.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ddd;
    padding-inline: max(5vw, 1rem);
}

.centerContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem auto;
    width: clamp(300px, 85vw, 800px);
}

.card {
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1rem;
    aspect-ratio: 1 / 1;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.05);
}

.backgroundInputContainer {
    width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    font-size: 1.75rem;
    text-align: center;
}

.backgroundInput {
    margin-inline: auto;
    outline: none;
    border: none;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.recommendedCards {
    display: grid;
    max-width: 100%;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
}

.cardColorText {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}
